/dvo_benchmark/output/trajectory.txt
/dvo_slam/src/local_tracker.cpp.autosave
/dvo_slam/src/keyframe_graph.cpp.autosave
/dvo_slam/CMakeLists.txt.user.bcb6756
cmake_install.cmake
.project
.cproject
.pydevproject
*.cfgc
build/
bin/
lib/
msg_gen/
docs/
*.*~
